@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  /* colors */
  --dark: #000;
  --light: #fff;
  --gray: #5f5f5f;
  --blue-1: #6388fb;
  --tomato: #fb6c47;
  --blue-2: #4563c5;
  --dark-blue: #383a53;

  /* font-size */
  --h1-font: 56px;
  --h1-height: 80px;
  --h2-font: 40px;
  --h2-height: 60px;
  --h3-font: 34px;
  --h4-font: 22px;
  --h5-font: 16px;
  --h6-font: 10px;
  --big-h: 220px;
  --p-1: 24px;
  --p-2: 18px;
  --p-3: 16px;
  --a: 14px;

  /* screen width */
  --standard-width: 1080px;

  /* spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --standard-box-shadow: 0px 2px 40px rgb(0, 0, 0, 0.1);
}

/* reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-image: url(./assets/bodybg.png);
}

.section-container {
  width: 100%;
  max-width: var(--standard-width);
}

.two-col .left-col {
  width: 50%;
}

.two-col .right-col {
  width: 50%;
}

/* typography */
h1 {
  font-size: var(--h1-font);
  line-height: var(--h1-height);
}

h2 {
  font-size: var(--h2-font);
  letter-spacing: -1px;
}

h3 {
  font-size: var(--h3-font);
}

h4 {
  font-size: var(--h4-font);
}

h5 {
  font-size: var(--h5-font);
}

/* subtitle classes */
.subtitle1 {
  font-size: var(--p-1);
  line-height: 1.2;
}

.subtitle2 {
  font-size: var(--p-2);
}

.subtitle3 {
  font-size: var(--p-3);
}

/* links and buttons */
a {
  font-size: var(--a);
  letter-spacing: 0.2px;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
  cursor: pointer;
}

.btn,
.btn2 {
  margin: calc(var(--spacing-sm) / 2);
  font-size: var(--a);
  letter-spacing: 0.2px;
}

.btn:hover {
  opacity: 0.9;
}

/* hamburger menu */
.bar1,
.bar2,
.bar3 {
  height: 4px;
  width: 36px;
  margin: 3px;
}

/* mobile navigation */
.mobileNav {
  top: 0;
  right: -100%;
  transition: transform 0.3s;
}

.mobileNav img {
  width: 24px;
  height: 24px;
}

.openDrawer {
  transform: translateX(-100%);
}

.info .circle {
  height: 64px;
  width: 64px;
  border-radius: 84px;
  border: 2px dashed var(--gray);
}

.info .circle:nth-of-type(2) {
  left: 56px;
  z-index: -1;
}

.info .circle:nth-of-type(3) {
  left: 112px;
  z-index: -2;
}

#nav-logo {
  margin: 0 0 0 var(--spacing-sm);
}

.navbar .icons img,
.footer .icons img {
  width: 26px;
  margin: 0 0 0 var(--spacing-md);
}

#home-bg {
  left: 50%;
  transform: translateX(-50%);
  height: 120%;
  bottom: -25px;
  z-index: -1;
}

.hero-container .left-col {
  width: 45%;
}

.hero-container h1 {
  margin: 0 0 var(--spacing-lg) 0;
}

.hero-container .left-col .btn-container {
  padding: var(--spacing-md) 0;
}

.hero-container .right-col {
  width: 55%;
}

.features-container .features-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.features-container .card .right-col {
  width: calc(80% - var(--spacing-sm));
}

/* image slide */
.images {
  width: calc(100% - var(--spacing-md) * 2);
  margin: var(--spacing-xl) var(--spacing-md);
}

.card-l1 {
  transform: rotateY(30deg) scale(0.7);
  right: -120px;
}

.card-l2 {
  transform: rotateY(30deg) scale(0.85);
  right: -50px;
}

.card-mid {
  transform: scale(1);
}

.card-r2 {
  transform: rotateY(-30deg) scale(0.85);
  left: -50px;
}

.card-r1 {
  transform: rotateY(-30deg) scale(0.7);
  left: -120px;
}

.screen-image {
  height: 30rem;
  z-index: 2;
}

.bg-text {
  top: 45%;
  left: 110%;
  transform: translate(-50%, -50%) rotate(90deg);
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.15);
  z-index: 0;
  white-space: nowrap;
}

/* background circles */
.bg-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 10;
  font-size: 1rem;
}

.bg-circle1,
.bg-circle4 {
  top: 60%;
  left: -35%;
}
.bg-circle2,
.bg-circle3,
.bg-circle5 {
  top: 24%;
  left: 80%;
}
.bg-circle6 {
  top: 59%;
  left: -27%;
}

.bg-circle1 {
  background-color: rgba(106, 159, 251, 255);
}
.bg-circle2 {
  background-color: rgba(252, 237, 110, 255);
}
.bg-circle3 {
  background-color: rgba(242, 160, 84, 255);
}
.bg-circle4 {
  background-color: rgba(252, 106, 69, 255);
}
.bg-circle5 {
  background-color: rgba(183, 251, 238, 255);
}
.bg-circle6 {
  background-color: rgba(118, 145, 198, 255);
}

.bg-circle4,
.bg-circle6 {
  left: -27%;
}

.review-container .review-grid {
  grid-template-columns: 1fr 1fr;
}

.card h1:nth-of-type(1) {
  text-align: start;
}

.card h1:nth-of-type(2) {
  text-align: end;
}

.download-container .two-col .right-col img {
  max-width: 440px;
  object-fit: cover;
}

.footer .lvl1 {
  width: calc(100% - calc(var(--spacing-sm) * 2));
}

#footer-logo {
  margin: 0 0 0 var(--spacing-sm);
  height: 100%;
}

.footer .lvl2 {
  padding: var(--spacing-md) 0;
}

/* animations */
.animateBar1 {
  animation: flipBar1 0.5s forwards;
}

.animateBar2 {
  animation: fadeBar2 0.5s forwards;
}

.animateBar3 {
  animation: flipBar3 0.5s forwards;
}

@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 10px);
  }
}

@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -10px);
  }
}

/* media queries */
@media screen and (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }

  .navbar {
    padding: 16px 24px;
    position: top;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbar .menu,
  .navbar .icons {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
  }

  .menu {
    flex-direction: column;
    text-align: center;
  }

  .review-container .review-grid {
    gap: var(--spacing-sm);
  }

  .hero-container .two-col {
    flex-direction: column-reverse;
  }

  .hero-container .two-col .left-col,
  .hero-container .two-col .right-col {
    width: 100%;
  }

  .hero-container .left-col h1 {
    font-size: 48px;
    text-align: center;
    line-height: 65px;
  }

  .hero-container .two-col .btn-container {
    display: flex;
    padding: var(--spacing-md) 0;
  }

  .features-container .features-grid {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .screenshots .two-col .left-col,
  .screenshots .two-col .right-col {
    width: 100%;
    margin: var(--spacing-lg) 0 0 0;
  }

  .screenshots:nth-of-type(even) .two-col {
    flex-direction: column-reverse;
  }

  .screenshots:nth-of-type(odd) .two-col {
    flex-direction: column;
  }

  .review-container .section-container,
  .features-container .section-container {
    display: contents;
  }

  .review-container .review-grid {
    grid-template-columns: 1fr;
    max-width: 600px;
  }

  .download-container .two-col {
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg)
  }

   .download-container .two-col .left-col {
    width: 90%;
  }

  .download-container .right-col {
    width: 100%;
  }

  .download-container .right-col img {
    width: 90%;
    height: auto;
    max-width: 500px;
  }

  .footer .lvl1 {
    flex-direction: column;
  }

  .footer .lvl1 img,
  .footer .lvl1 li,
  .footer .lvl1 .icons {
    margin: var(--spacing-sm) 0 0 0;
  }
}

@media screen and (max-width: 749px) {
  .images {
    display: none;
  }

  .download-container .two-col .left-col {
    width: 95%;
  }
}